In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [2]:
def rmse(y_true,y_preds):
    return np.sqrt(mean_squared_error(y_true,y_preds))

In [3]:
df = pd.read_excel('data/Tax Simulation for Data science.xlsx')

In [4]:
df.head()

,Unnamed: 0,Basic,Housing,Transport,Other Taxable Allowances,Other Non Taxable Allowances,Gross,Taxable Gross,Pension,NHF,Personal\nrelief,Standard Relief,Total Relief,Net Taxable,Computed Tax,True Tax,NetPay adjusted for Tax Only,NetPay adjusted for Tax+Pension+NHF
0,NaN,10000,NaN,NaN,NaN,NaN,10000,10000,800,250,16666.66,2000,19716.66,-9716.66,-680.1662,100.0,9900.0,8850.0
1,NaN,11000,NaN,NaN,NaN,NaN,11000,11000,880,275,16666.66,2200,20021.66,-9021.66,-631.5162,110.0,10890.0,9735.0
2,NaN,12000,NaN,NaN,NaN,NaN,12000,12000,960,300,16666.66,2400,20326.66,-8326.66,-582.8662,120.0,11880.0,10620.0
3,NaN,13000,NaN,NaN,NaN,NaN,13000,13000,1040,325,16666.66,2600,20631.66,-7631.66,-534.2162,130.0,12870.0,11505.0
4,NaN,14000,NaN,NaN,NaN,NaN,14000,14000,1120,350,16666.66,2800,20936.66,-6936.66,-485.5662,140.0,13860.0,12390.0

In [5]:
df.drop(['Unnamed: 0', 'Housing', 'Transport',
       'Other Taxable Allowances', 'Other Non Taxable Allowances', 'Gross',
       'Taxable Gross', 'Pension', 'NHF', 'Personal\nrelief',
       'Standard Relief', 'Total Relief', 'Net Taxable', 'Computed Tax',
       'True Tax', 'NetPay adjusted for Tax Only'], axis=1, inplace=True)

In [6]:
df.drop(df.index[0:20],axis=0, inplace=True)

In [7]:
df.reset_index(inplace=True,drop=True)

In [8]:
X = df.drop('NetPay adjusted for Tax+Pension+NHF',1)
y = df['NetPay adjusted for Tax+Pension+NHF']

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(y,X, test_size=0.25, random_state=5)

In [11]:
scaler = MinMaxScaler()
X_train = scaler.fit_transform(np.array(X_train).reshape(-1,1))
X_test = scaler.transform(np.array(X_test).reshape(-1,1))

In [12]:
from sklearn.linear_model import Lasso

In [13]:
model = Lasso()

In [14]:
model.fit(X_train,y_train)

Lasso()

In [15]:
y_preds = model.predict(X_test)

In [16]:
rmse(y_test,y_preds)

1068.5792117886772

In [22]:
a = 150000
a = np.array(a).reshape(1,-1)
a = scaler.transform(a)

In [23]:
model.predict(a)

array([181292.68028154])

In [17]:
import pickle

In [18]:
pickle.dump(model,open('grosspay_regressor.pkl','wb'))
pickle.dump(scaler,open('grosspay_scaler.pkl','wb'))